In [ ]:
import json

fd = open("records.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [ ]:
#code for purchasing item
no_prod  = str(input("Enter the product_Id: "))
no_quant = int(input("Enter the quantity: "))

print("Product: ", records[no_prod]['name'])
print("Price: ", records[no_prod]['pr'])
print("Billing Amount: ", records[no_prod]['pr'] * no_quant)

records[no_prod]['qn'] = records[no_prod]['qn'] - no_quant

Enter the product_Id: 1001
Enter the quantity: 23
Product:  Choco Cake
Price:  100
Billing Amount:  2300

In [ ]:
#updation of jason file
js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

In [ ]:
#sales
{'prod' : no_prod, 'qn' : no_quant, 'amount': records[no_prod]['pr'] * no_quant}

{'amount': 2300, 'prod': '1001', 'qn': 23}

In [ ]:
sales = {1 : {'prod' : no_prod, 'qn' : no_quant, 'amount': records[no_prod]['pr'] * no_quant},
         2 : {'prod' : no_prod, 'qn' : no_quant, 'amount': records[no_prod]['pr'] * no_quant},
         3 : {'prod' : no_prod, 'qn' : no_quant, 'amount': records[no_prod]['pr'] * no_quant}}

In [ ]:
sale = json.dumps(sales)

In [ ]:
#Adding new product in json file

prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

records[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

Enter product id:1010
Enter name:t-shirt
Enter price:500
Enter quantity:30

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 11},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 't-shirt', 'pr': 500, 'qn': 30}}

In [ ]:
del records['1008']

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 11},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1010': {'name': 't-shirt', 'pr': 500, 'qn': 30}}

In [ ]:
js = json.dumps(records)

In [ ]:
js

'{"1001": {"name": "Choco Cake", "qn": 11, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1010": {"name": "t-shirt", "pr": 500, "qn": 30}}'

In [ ]:
#writing changes done in other file
fd = open("adddel.json",'w')
fd.write(js)
fd.close()